{% extends 'index.html' %}
{% load static %}

{% block title %}Equipe{% endblock %}

{% block content %}

<section class="equipe">

    <div class="card">
        <h2>Hinata</h2>
        <p>Central</p>
        <p>16 anos</p>

        <img src="{% static 'img/hinata.png.jpeg' %}" alt="Hinata">
    </div>

    <div class="card">
        <h2>Kageyama</h2>
        <p>Levantador</p>
        <p>16 anos</p>

        <img src="{% static 'img/kageyama.png.jpeg' %}" alt="Kageyama">
    </div>

    <div class="card">
        <h2>Yamaguchi</h2>
        <p>Central</p>
        <p>16 anos</p>

        <img src="{% static 'img/yamaguchi.png.jpeg' %}" alt="Yamaguchi">
    </div>

    <div class="card">
        <h2>Daichi</h2>
        <p>Ponteiro</p>
        <p>18 anos</p>

        <img src="{% static 'img/daichi.png.jpeg' %}" alt="Daichi">
    </div>

    <div class="card">
        <h2>Nishinoya</h2>
        <p>Líbero</p>
        <p>16 anos</p>

        <img src="{% static 'img/nishinoya.png.jpeg' %}" alt="Nishinoya">
    </div>

    <div class="card">
        <h2>Tsukishima</h2>
        <p>Central</p>
        <p>16 anos</p>

        <img src="{% static 'img/tsukishima.png.jpeg' %}" alt="Tsukishima">
    </div>

    <div class="card">
        <h2>Asahi</h2>
        <p>Ponteiro</p>
        <p>18 anos</p>

        <img src="{% static 'img/asahi.png.jpeg' %}" alt="Asahi">
    </div>

    <div class="card">
        <h2>Tanaka</h2>
        <p>Ponteiro</p>
        <p>18 anos</p>

        <img src="{% static 'img/tanaka.png.jpeg' %}" alt="Tanaka">
    </div>

</section>

{% endblock %}