{% extends 'index.html' %}
{% load static %}

{% block title %}Equipe{% endblock %}

{% block content %}

<section class="equipe">

    <div class="card">
        <h2>{{ jogador.0.nome }}</h2>
        <p>{{ jogador.0.posicao }}</p>
        <p>{{ jogador.0.idade }}</p>

        <img src="{% static 'img/hinata.png.jpeg' %}" alt="Hinata">
    </div>

    <div class="card">
        <h2>{{ jogador.1.nome }}</h2>
        <p>{{ jogador.1.posicao }}</p>
        <p>{{ jogador.1.idade }}</p>


        <img src="{% static 'img/kageyama.png.jpeg' %}" alt="Kageyama">
    </div>

    <div class="card">
        <h2>{{ jogador.2.nome }}</h2>
        <p>{{ jogador.2.posicao }}</p>
        <p>{{ jogador.2.idade }}</p>

        <img src="{% static 'img/yamaguchi.png.jpeg' %}" alt="Yamaguchi">
    </div>

    <div class="card">
        <h2>{{ jogador.3.nome }}</h2>
        <p>{{ jogador.3.posicao }}</p>
        <p>{{ jogador.3.idade }}</p>

        <img src="{% static 'img/daichi.png.jpeg' %}" alt="Daichi">
    </div>

    <div class="card">
        <h2>{{ jogador.4.nome }}</h2>
        <p>{{ jogador.4.posicao }}</p>
        <p>{{ jogador.4.idade }}</p>

        <img src="{% static 'img/nishinoya.png.jpeg' %}" alt="Nishinoya">
    </div>

    <div class="card">
        <h2>{{ jogador.5.nome }}</h2>
        <p>{{ jogador.5.posicao }}</p>
        <p>{{ jogador.5.idade }}</p>

        <img src="{% static 'img/tsukishima.png.jpeg' %}" alt="Tsukishima">
    </div>

    <div class="card">
        <h2>{{ jogador.6.nome }}</h2>
        <p>{{ jogador.6.posicao }}</p>
        <p>{{ jogador.6.idade }}</p>

        <img src="{% static 'img/asahi.png.jpeg' %}" alt="Asahi">
    </div>

    <div class="card">
        <h2>{{ jogador.7.nome }}</h2>
        <p>{{ jogador.7.posicao }}</p>
        <p>{{ jogador.7.idade }}</p>

        <img src="{% static 'img/tanaka.png.jpeg' %}" alt="Tanaka">
    </div>

</section>

{% endblock %}