{% extends 'index.html' %}
{% load static %}

{% block title %}Sobre{% endblock %}

{% block content %}

<section class="sobre">

    <div class="alunos">

      
        <div class="aluno-card">
            <img src="{% static 'img/laiza.png.jpeg' %}" alt="{{ alunos.0.nome }}">
            <div class="texto">
                <h2>{{ alunos.0.nome }}</h2>
                <p>{{ alunos.0.curso }}</p>
                <p>{{ alunos.0.idade }}</p>
            </div>
        </div>

        <div class="aluno-card">
            <img src="{% static 'img/samuel.png.jpeg' %}" alt="{{ alunos.1.nome }}">
            <div class="texto">
                <h2>{{ alunos.1.nome }}</h2>
                <p>{{ alunos.1.curso }}</p>
                <p>{{ alunos.1.idade }}</p>
            </div>
        </div>

    </div>

    </div>

    <div class="descricao">
        <p>{{ descricao }}</p>
    </div>

</section>

{% endblock %}